
<%= simple_form_for @todo_list, html: { class: 'ui form' } do |f| %>
  <%= f.input :title %>
  <br>
  <%= f.input :description %>
  <br>
  <div>
    Completado?

    <%= f.input :status,
          label: false,
          input_html: { class: 'ui checkbox' }
    %>
  </div>
  <br>
  <%= f.submit 'Salvar item', class: 'ui primary button' %>
  <%= link_to 'Cancelar item', todo_lists_path, class: 'ui basic grey button' %>
<% end %>
<br>