<p id="notice"><%= notice %></p>

<h1>Itens</h1><br>

  <table class="ui single line center table">
    <thead>
      <tr>
        <th>Titulo</th>
        <th>Descrição</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @todo_lists.each do |todo_list| %>
        <tr>
          <td class='truncate'><%= todo_list.title %></td>
          <td class='truncate'><%= todo_list.description %></td>
          <td>
            <% if todo_list.status %>
              <span class="ui green label">
                Concluido
              </span>
            <% else %>
              <span class="ui red label">
                Pendente
              </span>
            <% end %>
          </td>
          <td><%= link_to 'Show', todo_list %></td>
          <td><%= link_to 'Edit', edit_todo_list_path(todo_list) %></td>
          <td><%= link_to 'Destroy', todo_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<br>

<%= link_to 'Novo Item', new_todo_list_path %>
